@import '../variables.scss';

.welcome-container{
  font-family: $default-font;
  background-color: whitesmoke;
  // width: 100vw;
  min-height: 150vh;

  .hero-container{
    background-image: url('../../images/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    .intro-box{
      width: 47%;
      background-color: rgba(255, 255, 255, 0.827);
      text-align: center;
      border-radius: 8px;
      margin: 20px;
      @extend %column-flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      padding: 18px 20px;
     
    }
  }

  .example-container{
    margin-top: 100px;
    overflow: hidden;
    div{
      overflow: hidden;
      text-align: center;
      height: 500px;
      img{
      height: 25vh;
      width: 20vw;
      margin-bottom: 10px;
      }
      p{
        margin: 10px 0;
        padding: 0 20px;
      }
    }
    
  }
}